- provide(:title, "About")
%h1 About
%p
  The
  %a{:href => "http://www.railstutorial.org/"}
    %em
      Team Red
  is part of Mooquita Ruby on Rails Project. 
  %br/
  %a{:href => "http://www.railstutorial.org/book"} Slack-mooquita-Ruby-C1-2017
  %br/
  Team Members: 
  %br/
  %a{:href => "mailto:kirmesh@gmail.com"} Kirill
  %br/
  %a{:href => "mailto:sergioluisha@gmail.com"} Sergiolha
  %br/
  %a{:href => "mailto:sesaba23@gmail.com"} sesaba23
  
  




