<%#% Makes page reload automatically so user doesn't need to refresh page manually %>
<script type="text/javascript">
  setTimeout(function(){ window.location.reload()}, 3000);
</script>
<h1> Guesser </h1>
<center>
  <%= render partial: '/shared/whiteboard'%>
</center>
