<%= render partial: '/shared/ingame_score'%>
<h1> Judge </h1>
<div>
  <div>
    <%= render partial: '/shared/whiteboard'%>
  </div>
  <div>
    <%= render partial: '/shared/document' %>
  </div>
</div>
