<html>
  <head>
  </head>
  <body>
    <div>
      <%= render partial: 'judges_head' %>
    </div>
    <div>
      <%= render partial: '/shared/waiting_for_question' %>
      <!--<h2>Waiting for question...</h2> -->
    </div>
  </body>
</html>
