<html>
  <head>
  </head>
  <script type="text/javascript">
    setTimeout(function(){ window.location.reload()}, 3000);
  </script>
  <body>
    <%= render partial: 'judges_head' %>
    <%= render partial: '/shared/show_question' %>
  </body>
</html>

  
