<%= render partial: 'shared/ingame_score' %>
<h1> Reader </h1>
<div>
  <div class="contain-part">
    <%= render partial: '/shared/document' %>   
  </div>
  <div class="contain-part">
    <%= render partial: '/shared/whiteboard'%>
  </div>
</div>

