- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name

.center.jumbotron
  %h1 Click below to join a new Game
  %h2
  = link_to "Start Game now!", waiting_players_path, class: "btn btn-lg btn-primary"

