<div>
  <h2> Final scores </h2>
  <table class="table table-striped table-bordered table-responsive">
    <tr>
      <th> Reader & Judge </th>
      <th> Guesser </th>
    </tr>
    <tr>
      <td><%= @scores[:reader] %></td>
      <td><%= @scores[:guesser] %></td>
    </tr>
  </table>
</div>
