<%#% Makes page reload automatically so user doesn't need to refresh page manually %>
<script type="text/javascript">
  setTimeout(function(){ window.location.reload()}, 3000);
</script><center>
  <h2> Question </h2>
  <%= @question %>
</center>
