<html>
  <head>
  </head>
  <body>
    <h1> Show all available documents here </h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Kind</th>
        <th>Title</th>
        <th>Content</th>
      </tr>
      <% @documents.each do |document| %>
      <tr>
        <td><%= document.id %></td>
        <td><%= document.kind %></td>
        <td><%= document.title %></td>
        <td><%= document.content %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
