<html>
  <head>
  </head>
  <body>
    <h1> GAME OVER </h1>
    <%= render partial: 'shared/scores' %>
    <%= render partial: 'shared/whiteboard' %>
    <%= render partial: 'shared/document' %>
  </body>
</html>
