<html>
  <head>
  </head>
  <body>
    <h1> waiting for players ... </h1>
    <h2>
    <%= link_to "Quit Game", quit_multiplayer_queue_path(1), class: "btn btn-lg btn-primary" %>
    </h2>
    <%= "redirected from #{@user}" %>
    <%= "players queued #{@queue.queued_players.map{|p| p.user_id}}" %>
  </body>
</html>
