%footer.footer
  %small
    Toward a Comprehension Challenge, 
    %a{:href => "https://mooqita-ruby-c1-2017.slack.com/files/sesaba23/F6CL2CK2P/crowdsourcing_as_a_tool.pdf"} Using Crowdsourcing as a tool
  %nav
    %ul
      %li= link_to "About",  about_path
      %li= link_to "Contact", contact_path
      %li
        %a{:href => "http://legalnotices.org/"} Legal notices


